#!/bin/sh
#
# {{ ansible_managed }}
#

echo
echo " ********************************************************"
echo " * This server is configured using Ansible."
echo " * To change configuration, contact the administrator."
echo " * "
echo " * Email: {{ sysadmin_email }}"
echo " ********************************************************"
echo
